---
layout: default
title: Enlight
description: Enlight is a resource aimed to teach anyone to code through building projects. Hosting a wide variety of tutorials and demos, Enlight provides developers with sample projects and explains how they work.
---


{% include tagline.html %}



<section class="cf w-100 pa2-ns " id="projects">
  {% for post in site.posts %}
  <article class="fl w-100 w-50-m w-25-ns pa1-ns">
    <a href="{{ post.url | prepend: site.baseurl }}" class="ph2 ph0-ns pb3 link db">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url({{post.img}});"
      class="db bg-center contain aspect-ratio--object card" />
    </div>
      <h3 class="f5 f4-ns mb0 black-90">{{ post.title | replace: 'Build an', '' | replace: 'Build a', ''}} </h3>
      <h3 class="f6 f5 fw4 mt2 black-60">{{ post.language }} | <u>{{ post.difficulty }}</u></h3>
    </a>
  </article>
  {% endfor %}
</section>
