---
layout: default
title: Enlight | Learn to Code by Building Projects
description: Enlight is a resource aimed to teach anyone to code through building projects. Hosting a wide variety of tutorials and demos, it provides users with sample projects and explains how they work.
---

<h1 class="project-title">Learn to code by building projects</h1><br>


<div class="grid">
  <div class="row">

    {% for post in site.posts%} 

    <div class="col-sm-4">
      <a href="{{ post.url }}"><img class="project-image-front" src={{ post.img }}></a>
      <a href="{{ post.url }}"><h3 class="project-title-front"><span>{{ post.title }}</span></h3></a>
    </div>
   {% endfor %}

  </div>

</div>

  {% include footer.html %}



