html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color: #333;
	height: 100%;
  background: #fbfbfb;
}

a {
	text-decoration: none;
	color: #333;
}
/* Styles */
body {
  font-family: 'Avenir Next', Arial, sans-serif;
}

h1.title {
	text-align: left;
	font-size: 64px;
	margin:0;
	padding-top: 35px;
	font-weight: 400;
}

h2.subtitle {
  float: left;
  display: inline;
  margin: 0;
	font-weight: 300;
	font-size: 18px;
}

.nav {
  display: inline;
  word-spacing: 10px;
  text-align: right;
  padding-right: 80px;
}

.accent {
	color: #ee4287;
	font-style: italic;
}

.projects {
	font-weight: 300;
	text-align: left;
	font-size: 32px;
}

.underline {
  border-bottom: 1px solid #ee4287;
}

.project-header-front{
	text-align: center;
	font-size: 36px;
	padding: 10px;
	margin: 0;
}

.project-description{
	color: #333;
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
	max-width: 70%;
}

a:hover {
	opacity: .7;
}

img {
	width: 100%;
	height: 50%;
}
/* Styles - Projects*/

.project-page {
	max-width: 70em;
	margin: 0 auto;
}

.project-header {
	text-align: center;
	padding-top: 20px;
	font-size: 32px;
	margin: 0;
}

.project-subtitle {
	color: #333;
	text-align: center;
	font-size: 20px;
}

.project-image {
	width: 50%;
	height: 100%;
}

p {
	color: #333;
	margin: 2px;
	text-align: left;
	font-size: 18px;
  max-width: 50em;
  line-height: 1.5;
}

p.header {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	margin-top: 5px;
}

p.about {
  margin: 0 auto;
}

.enlight {
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}
li {
	color: #333;
	text-align: left;
	font-size: 18px;
  	max-width: 50em;
  	line-height: 1.5;
  	margin: 0;
}


/* My grid (lol) */

.grid {
  padding-top: 3%;
}

.col-1-3 {
  width: 30%;
  float: left;
  padding: 10px;
}

@media (max-width:650px){
        .col-1-3 { 
          width: 100%;    
        }
        img {
          padding-top: 10px;
          width: 100%;
          height: 100%;
        }
    }

.box {
  padding-bottom: 30px;
}

/* Footer */
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;

}

footer {
  flex: 1;
  background: #F4F4F9;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

a.footer {
  color: #333;
}
.footer-left {
  padding-top: 2%;
  float: left;  
  padding-left: 2%;
  color: #333;
  padding-bottom: 5px;
}

.footer-right {
  float: right;  
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 5px;
}

.fa-twitter:hover {
  color: #1dcaff;
}

.social-footer {
display: inline;
}
/* */

hr {
	border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.twitter-share-button {
	padding-bottom: 5px;
  padding-top: 10px;
}

/* Font */
@font-face {
  font-family: 'Fakt';
  src: url('fonts/FaktPro-Thin.eot');
  src: url('fonts/FaktPro-Thin.eot?#iefix') format('embedded-opentype'),
       url('fonts/FaktPro-Thin.woff') format('woff'),
       url('fonts/FaktPro-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Fakt';
  src: url('fonts/FaktPro-Blond.eot');
  src: url('fonts/FaktPro-Blond.eot?#iefix') format('embedded-opentype'),
       url('fonts/FaktPro-Blond.woff') format('woff'),
       url('fonts/FaktPro-Blond.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Fakt';
  src: url('fonts/FaktPro-SemiBold.eot');
  src: url('fonts/FaktPro-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('fonts/FaktPro-SemiBold.woff') format('woff'),
       url('fonts/FaktPro-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

/* Newsletter */


.newsletter {
  margin: 0 auto;
  text-align: right;
  color: #333;
}

input {
	width: 25em;
	height: 2em;
    padding: 10;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus {
	border: 1px solid #ee4287;
}

button {
	width: 7em;
	height: 2em;
	border: none;
	background: #ee4287;
	color: #fff;
	border-radius: 4px;
	-webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
  display: inline;



}

button:hover {
	color: #000;
	border: 2px solid #ee4287;
	background: #fff;
}

.buttons {
  display: inline-block;
  margin-top: 10px;
}

.project-source {
  width: 100px;
  height: 40px;
  font-size: 20px;
}

.project-demo {
  width: 100px;
  height: 40px;
  font-size: 20px;

}

/* ADS */

#carbonads {
  display: block;
  overflow: hidden;
  padding: 1em;
  font-family: "Avenir Next", Helvetica, sans-serif;
  line-height: 1.5;
}

  #carbonads span {
    display: block;
    overflow: hidden;
  }

  .carbon-img {
    display: block;
    margin: 0 auto 1em;
    text-align: center;
  }

  .carbon-text {
    display: block;
    margin-bottom: 1em;
    text-align: left;
    max-width: 200px;
  }

  .carbon-poweredby {
    display: block;
    text-align: right;
    font-size: .8em;
  }

/* Code */
pre {
border-radius: 5px;
}

/* Author */
.author {
  padding-top: 30px;
}


