---
layout: default
title: Learn to Code the Web
description: Learn Web Development (HTML/CSS/JS)
---

<h3 class="tc f3"> Beginner Web Development (JS) Projects:</h3><br>

<section class="cf w-50 center pa2-ns">
  {% for post in site.categories.easy-web %} 
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <a href="{{ post.url }}" class="ph2 ph0-ns pb3 link db">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url({{post.img}});" 
      class="db bg-center cover aspect-ratio--object card" />
    </div>
      <h3 class="f5 f4-ns mb0 black-90">{{ post.title }}</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">{{ post.language }}</h3>
    </a>
  </article>
  {% endfor %}
</section>


<h3 class="tc f3"> Intermediate Web Development (JS) Projects:</h3><br>

<section class="cf w-50 center pa2-ns">
  {% for post in site.categories.middle-web %} 
   <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <a href="{{ post.url }}" class="ph2 ph0-ns pb3 link db">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url({{post.img}});" 
      class="db bg-center cover aspect-ratio--object card" />
    </div>
      <h3 class="f5 f4-ns mb0 black-90">{{ post.title }}</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">{{ post.language }}</h3>
    </a>
  </article>
  {% endfor %}
</section>



<h3 class="tc f3"> Advanced Web Development (JS) Projects:</h3><br>

<section class="cf w-50 center pa2-ns">
  {% for post in site.categories.hard-web %}
    <article class="fl w-100 w-50-m  w-25-ns pa2-ns">
    <a href="{{ post.url }}" class="ph2 ph0-ns pb3 link db">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url({{post.img}});" 
      class="db bg-center cover aspect-ratio--object card" />
    </div>
      <h3 class="f5 f4-ns mb0 black-90">{{ post.title }}</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">{{ post.language }}</h3>
    </a>
  </article>
  {% endfor %}
</section>



