/*  include <xmp><link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"></xmp> for the inconsolata font in your HTML file */

  html,body {
    height: 100%;
    width: 100%;
    background: #202020;
    display:table;
  }
  /* font css */

  p {
    font-size:2em;
  }
  /* main container css */

  .contain{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    padding:3em;
  }
  /* quote css */

  #quote{
    color:white;
    font-family : Inconsolata;
    position: relative;
  }
  /* source css */

  #writer{
    opacity:1;
    font-size: 1em;
    padding-right:2em;
    text-align: right;
    color:white;
    font-family : Inconsolata;
    position: relative;
    -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
  }
  /* for the after stage of the source */

  .fade {
    opacity:0 !important;
  }
  /* for the after stage of the quote.*/

  .executed {
    opacity:1;
    right: 0;
    -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
  }
  /* for the before stage of the quote; should slide right when presented and left when removed.  */

  .reset {
    opacity:0;
    right:600;
    -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
  }
  /* for the instructions at the bottom */

  .bottom {
    bottom:10;
    position: absolute;
    color:#454545;
    font-family:Inconsolata;
  }