<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=enlightml" id="_carbonads_js"></script>
<style>
#carbonads {
  margin: 1em auto 2em;
  display: block;
  overflow: hidden;
  padding: .5em;
  position: absolute;
  font-size: 14px;
  max-width: 360px;
  background-color: #fff;
  border: solid 1px #f2f7ff;
  line-height: 1.5;
  border-radius: 5px;
}

#carbonads a {
  color: inherit;
}

#carbonads a:hover {
  color: inherit;
  text-decoration: underline;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  float: left;
  margin-right: .5em;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  display: block;
  float: left;
  max-width: 150px;
  text-align: left;
}

.carbon-poweredby {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  font-size: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 1479px) {
  #carbonads {
    position: relative;
    margin: 1em auto 2em;
  }
  #carbonads img {
    padding: 0;
  }
}

</style>