<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=enlightml" id="_carbonads_js"></script>
<style>
#carbonads {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 0;
  padding: 1em;
  font-family: "Avenir Next", Helvetica, sans-serif;
  line-height: 1;
  max-width: 150px;
}

  #carbonads span {
    display: block;
    overflow: hidden;
  }

  .carbon-img {
    display: block;
    margin: 0 auto 1em;
    text-align: center;
  }

  .carbon-text {
    display: block;
    margin-bottom: 1em;
    text-align: left;
    max-width: 200px;
  }

  #carbonads a {
    text-decoration: none;
    color: #333;
  }

  #carbonads a:hover {
    opacity: .8;
  }

  .carbon-poweredby {
    display: block;
    text-align: right;
    font-size: .8em;
  }

  @media only screen and (min-width: 320px) and (max-width: 1279px) {
  #carbonads {
    position: relative;
    margin: 6em auto 2em;
    top: 0px;
  }
  #carbonads img {
    padding: 0;
  }

}

</style> 