<footer class="pa4 pa5-l black-70 bt b--black-10">
  <section class="cf mb5">
    <div class="mb4 mb0-ns fl w-100 w-50-l" >
      <p class="f4 fw6 mb2 f6 mt0">
        Join <b class="f5">722</b> other developers who get the latest projects sent directly to their inbox!
      </p>
      <form method="post" action="//enlight.us11.list-manage.com/subscribe/post?u=c28720fd0200ee7eef0e3e9ec&amp;id=1905fa696f" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
	      <input placeholder="Email Address" value="" name="EMAIL" id="mce-EMAIL" type="email" class= "mw-100 w-80 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box">
	      <input type="submit" class="input-reset w-50 w-auto-ns bg-black-80 white f5 pv2 pv3-ns ph4 ba b--black-80 dim">
      </form>
    </div>
  </section>
  <div class="dt dt--fixed w-100" >
    <div class="dn dtc-ns v-mid">
      <p class="f7 black-70 dib pr3 mb3">
      © Enlight 2077
      </p>
    </div>
    <div class="db dtc-ns black-70 tc tr-ns v-mid">
      <a href="https://twitter.com/tryenlight" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @tryenlight</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="db dn-ns">
    <p class="f7 black-70 mt4 tc">
      © Enlight 2077
    </p>
  </div>
</footer>

