<footer>
      <form method="post" action="//enlight.us11.list-manage.com/subscribe/post?u=c28720fd0200ee7eef0e3e9ec&amp;id=1905fa696f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form">
         <h3> Get the latest projects delivered to your inbox!</h3>
         <input id="email" type="email" name="EMAIL" placeholder="Email">
         <button type="submit" name="action" class="footer-button">Subscribe!</button>
      </form>

    <div class="s-footer">
      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <a href="https://twitter.com/tryenlight" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @tryenlight</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
 </footer>

<!--  FIX FOOTER, ADD TWEET BUTTON, & FOLLOW -->