<footer>
      <form method="post" action="//enlight.us11.list-manage.com/subscribe/post?u=c28720fd0200ee7eef0e3e9ec&amp;id=1905fa696f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form">
         <h1 class="newsletter"> Get the latest projects delivered to your inbox!</p>
         <input id="email" type="email" name="EMAIL" placeholder="Email">
         <button type="submit" name="action">Subscribe!</button>
      </form><br><br>
    <div class="s-footer">
    	<a href="https://twitter.com/tryenlight"><li class="top"><i class="fa fa-twitter"></i></li></a>
	    <a href="https://github.com/samayshamdasani/enlight"><li class="top"><i class="fa fa-github"></i></li></a>
	    <a href="mailto:hi@shamdasani.org?subject=Enlight"><li class="top"><i class="fa fa-envelope"></i></li></a>
	</div>
 </footer>