<div id="header">
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll" role="navigation">
	<div class="container-fluid">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" href="/">Enlight</a>
    	</div>

    	<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="/web" class="dropdown-toggle" data-toggle="dropdown">Web Development <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li class><a href="/web">JavaScript</a></li>
                      <li><a href="/nodejs">NodeJS</a></li>
                      <li><a href="/react">React</a></li>
                    <li><a href="/ruby">Ruby</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="/web" class="dropdown-toggle" data-toggle="dropdown">Mobile Development <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/react-native">React Native (JS)</a></li>
                      <li><a href="/swift">Swift</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="/web" class="dropdown-toggle" data-toggle="dropdown"> More <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/python">Python</a></li>
                      <li><a href="/cplusplus">C++</a></li>
                    </ul>
                </li>

                <li><a href="https://github.com/samayshamdasani/enlight#contribute-by-adding-your-projects--tutorials">Contribute</a></li>
        		<li><a href="https://blog.enlight.ml">Blog</a></li>
        		<li><a href="/why">Why Enlight?</a></li>
    		</ul>
    		<ul class="nav navbar-nav navbar-right">
    			<li><a href="https://twitter.com/tryenlight"><i class="fa fa-twitter"></i></a></li>
    			<li><a href="https://github.com/samayshamdasani/enlight"><i class="fa fa-github"></i></a></li>
    			<li><a href=""><i class="fa fa-envelope inline"></i></a></li>

    		</ul>
    	</div>
	</div>
</nav>
</div>


