  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   {% if page.language == 'html/css/js' %}
      <title>Build a {{ page.title | strip_html }} in {{ page.language }}</title>
   {% endif %}

   {% if page.layout == 'post-editor' %}
      <title>Build a {{ page.title | strip_html }} in {{ page.language }}</title>
   {% endif %}

      {% if page.layout == 'post-editor-python' %}
      <title>Build a {{ page.title | strip_html }} in {{ page.language }}</title>
   {% endif %}

   <title>{{ page.title | strip_html }}</title>

      <meta name="description" content="{{ page.description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:title" content="{{ page.title }}">
      <meta property="og:description" content="{{ page.description }}">
      <meta property="og:url" content="https://enlight.ml{{page.url}}">
      <meta property="og:image" content="https://enlight.ml/enlight-logo.png" /> 
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@tryenlight" />
      <meta name="twitter:title" content="{{ page.title }}" />
      <meta name="twitter:description" content="{{ page.description }}" />
      <meta name="twitter:image" content="https://enlight.ml/enlight-logo.png" />

      <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.7.0/tachyons.min.css" />
      <link href="https://enlight.ml/style.css?{{site.time | date: '%s%N'}}" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.css" />

      <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         
         ga('create', 'UA-85620206-1', 'auto');
         ga('send', 'pageview');
      </script>