<header class="black-80 tc avenir">
  <h1 class="mt2 mb0 baskerville fw1 f-headline"><a href="/" class="link black-80 hover-bg-pink dib">Enlight</a></h1>
  <h2 class="mt2 mb0 f6 fw4 ttu tracked">Learn to code by building projects</h2>
  <nav class="bt bb tc mw7 center mt4">
    <a class="f5 f4-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="/">Projects</a>
    <a class="f5 f4-l link bg-animate black-80 hover-bg-light-green dib pa3 ph4-l" href="/web">JavaScript</a>
    <a class="f5 f4-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l" href="/python">Python</a>
    <a class="f5 f4-l link bg-animate black-80 hover-bg-light-pink dib pa3 ph4-l" href="https://github.com/samayshamdasani/enlight#contribute-by-adding-your-projects--tutorials">Contribute</a>
    <a class="f5 f4-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l" href="/why">About</a>
  </nav>