  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   {% if page.layout == 'post' %}
      <title>Build a {{ page.title | strip_html }} with {{ page.language }}</title>
      <link rel="canonical" href="https://enlight.nyc{{ page.url }}">
      <meta name="description" content="{{ page.description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@tryenlight" />
      <meta name="twitter:title" content="{{ page.title }} with {{ page.language }}" />
      <meta name="twitter:description" content="{{ page.description }}" />
      <meta name="twitter:image" content="https://enlight.nyc{{ page.img }}" />
      <meta property="og:title" content="{{ page.title }} with {{ page.language }}">
      <meta property="og:description" content="{{page.description }}">
      <meta property="og:url" content="{{ site.url }}{{page.url}}">
      <meta property="og:image" content="https://enlight.nyc{{ page.img }}" />

   {% endif %}
   {% if page.layout != 'post' %}
     <title>{{ page.title | strip_html }}</title>
     <link rel="canonical" href="https://enlight.nyc{{ page.url }}">
     <meta name="description" content="{{ page.description }}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta property="og:title" content="{{ page.title }}">
     <meta property="og:description" content="{{page.description }}">
     <meta property="og:url" content="{{ site.url }}{{page.url}}">
     <meta property="og:image" content="https://enlight.nyc/logo.jpg" />
     <meta name="twitter:card" content="summary" />
     <meta name="twitter:site" content="@tryenlight" />
     <meta name="twitter:title" content="{{ page.title }}" />
     <meta name="twitter:description" content="{{ page.description }}" />
     <meta name="twitter:image" content="https://enlight.nyc/logo.jpg" />

   {% endif %}


      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.7.0/tachyons.min.css" />
      <link href="{{ "/style.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}" rel="stylesheet" />
      <link href="/syntax.css" rel="stylesheet" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
            <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85620206-1"></script>
      <script>
      window.dataLayer = window.dataLayer || []
function gtag() {
  dataLayer.push(arguments)
}
gtag('js', new Date())

gtag('config', 'UA-85620206-1')
</script>
