
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title | strip_html }}</title>
      <meta name="description" content="{{ page.description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:title" content="{{ page.title }}">
      <meta property="og:description" content="{{ page.description }}">
      <meta property="og:url" content="https://enlight.ml{{page.url}}">
      <meta property="og:image" content="https://enlight.ml/img/enlight-round-logo.png" /> 
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@tryenlight" />
      <meta name="twitter:title" content="{{ page.title }}" />
      <meta name="twitter:description" content="{{ page.description }}" />
      <meta name="twitter:image" content="https://enlight.ml/img/enlight-round-logo.png" />

      <link href="style.css" type="stylesheet">

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
      <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.js"></script>

    
