<style>
    /* General */
    
    body {
        margin-top: 100px;
        background-color: #F4F4F4;
        color: #333;

    }
    #nprogress .bar {
        background: #031927;
    }
   .card {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s ease;
   }
    .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .content {
        line-height: 1.6;
    }
    .content a {
        border-bottom: 2px solid #333;
        text-decoration: none;
        color: #333;
    }

    .content a:hover {
        border-bottom: none;
    }

    code {
        background: #f2ebc6;
    }

    *::-moz-selection { background: #ff80cc; }
    *::selection { background: #ff80cc; }
    
    
   
    /* If post.layout === editor */
    
    @media(min-width: 960px) {


        .project-editor {
            display: flex;
            overflow: auto;
            height: 100vh;
            margin-top: -100px;
            padding-top: 100px;
            position: relative;
            width: 100%;
            backface-visibility: hidden;
            will-change: overflow;
        }

    

        .code-content, .editor {
            overflow: auto;
            height: auto;
            padding: .5rem;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none;
        }

        .code-content {
            flex: 1;
        }

        .editor {
            flex: 1;
             
        }

        textarea {
          width: 95%;
          float: top;
          min-height: 150px;
          overflow: scroll;
          display: inline-block;
          outline: none;
          font-family: Courier, sans-serif;
          font-size: 14px;
          margin-left: auto;
          margin-right: auto;
        }

        iframe {
          width: 95%;
          height: 25em;
        }

        .editor .project-button {
            margin-left: auto;
            display: flex;
        }

            /* If exited editor */
        .content-exit {
            max-width: 60%;
            margin: 0 auto;
        }

        /* If embeded editor */

        .embedded-compiler {
            width: 48%;
        }

    }



    @media(max-width: 900px) {
        .card {
            width: 100%;
        }
        #header .navbar.navbar-fixed-top.navbar-color-on-scroll.navbar-transparent {
            background: #031927;
            color: #fff;
        }
    
        .grid {
            max-width: 90%;
        }
        .project-header, .content {
            max-width: 95%;
            margin: 0 auto;
        }
        .editor {
            visibility: hidden;
        }
    }
    footer {
        width: 100%;
        margin-bottom: 5%;
        margin-top: 5%;
        text-align: center;
    }
   
    .fa-twitter:hover {
        color: #1dcaff;
    }
    .fa-github:hover {
        color: #6e5494;
    }
    .fa-envelope:hover {
        color: #bd2c00;
    }
    /*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
    
    pre {
        overflow: auto;
    }
    .prettyprint {
        background: #031927;
        font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
        border: 0 !important;
        border-radius: 0;
        width: 100% !important;
        margin-top: 3%;
        margin-bottom: 3%;
        
    }
    .pln {
        color: #e6e9ed;
    }
    /* Specify class=linenums on a pre to get line numbering */
    
    ol.linenums {
        margin-top: 0;
        margin-bottom: 0;
        color: #656d78;
    }
    li.L0,
    li.L1,
    li.L2,
    li.L3,
    li.L4,
    li.L5,
    li.L6,
    li.L7,
    li.L8,
    li.L9 {
        padding-left: 1em;
        background-color: #2f3640;
        list-style-type: decimal;
    }
    @media screen {
        /* string content */
        
        .str {
            color: #ffce54;
        }
        /* keyword */
        
        .kwd {
            color: #4fc1e9;
        }
        /* comment */
        
        .com {
            color: #656d78;
        }
        /* type name */
        
        .typ {
            color: #4fc1e9;
        }
        /* literal value */
        
        .lit {
            color: #ac92ec;
        }
        /* punctuation */
        
        .pun {
            color: #e6e9ed;
        }
        /* lisp open bracket */
        
        .opn {
            color: #e6e9ed;
        }
        /* lisp close bracket */
        
        .clo {
            color: #e6e9ed;
        }
        /* markup tag name */
        
        .tag {
            color: #ed5565;
        }
        /* markup attribute name */
        
        .atn {
            color: #a0d468;
        }
        /* markup attribute value */
        
        .atv {
            color: #ffce54;
        }
        /* declaration */
        
        .dec {
            color: #ac92ec;
        }
        /* variable name */
        
        .var {
            color: #e6e9ed;
        }
        /* function name */
        
        .fun {
            color: #e6e9ed;
        }
    }
</style>
