<article class="bg-light-red w-100 mobile">
  <div class="dt-ns dt--fixed-ns w-100">
    <div class="pa2 pa3-ns dtc-ns v-mid">
      <div>
        <h2 class="fw4 white pa0">Learn to code by building projects. </h2>
      </div>
    </div>
    <div class="pa2 pa3-ns dtc-ns v-mid mobile">
        <div class="cf">
          <input class="f6 input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns" placeholder="Get notified of new projects in your inbox." value="" name="EMAIL" id="mce-EMAIL" type="email">
          <input class="f6 button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns" type="submit" value="Subscribe">
        </div>
  </div>
</article>
