<!DOCTYPE html>

	<head>
	{% include head.html %}
	</head>

<nav class="db dt-l tc w-100 border-box pa3 ph5-l ba b--black-10 ">
    <a class="f2 fw3 dib pa2 no-underline black" href="/">
	    <img src="/enlight.png" width="30" class="grow" style="border-radius: 2px;">  Enlight 
    </a>
</nav>

	<body>

<div class="center measure-wide f4 pv5 lh-copy ph2 content">
	 {{content}}
	 <br><br>
	 <a href="https://twitter.com/tryenlight" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @tryenlight</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>


	{% include scripts.html %}


	</body>
</html>