<head>
{% include head.html %}
</head>


<header class="{{ page.color }}">
  <div class="top">
  <div class="enlight">
  <a href="/" class="white">enlight</a>
  </div>

  <nav>
    <div class="nav-mobile">
      <a id="nav-toggle" href="#!"><span></span></a>
    </div>
    <ul class="nav-list">
      <li><a href="#">All Projects</a>
        <ul class="nav-dropdown">
          <li><a href="/web">HTML/CSS/JS</a></li>
          <li><a href="/ml">Machine Learning</a></li>
          <li><a href="/crypto">Blockchain</a></li>
        </ul></li>
      <li><a href="https://community.enlight.nyc">Community</a></li>
      <li><a href="/guide">Guide</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>

<body>
<article class="dt w-100 {{page.color}}">
  <div class="dtc v-mid tc white ph3 ph4-l">
    <h1 class="f1 f-subheadline-l fw6 tc">{{ page.title }}</h1>
  </div>
</article>

<div class="center measure-wide f4 pv5 lh-copy ph2 content">
  {{ content }}
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


<script src="/js/scripts.js"></script>
</body>

{% include footer.html %}

</html>
