---
layout: default
---

<article class="vh-100 dt w-100 project-{{ page.color }} tc">
<div class="mw5 mw6-ns center pt4">
  {% include ad.html %}
</div>
  <div class="dtc v-mid tc white ph3 ph4-l">
    <h1 class="f1 f-subheadline-l fw6 tc">Build a <span class="underline">{{ page.title }}</span></h1>
    <a href="{{ page.demourl }}"><img class="project-image" src="{{ page.img }}"></a><br><br>
    <a href="{{ page.source }}" class="f4 link dim ba ph3 pv2 mb2 dib white">Source</a>
    <a href="{{ page.demourl }}" class="f4 link dim ba ph3 pv2 mb2 dib white">Demo</a>
  </div>
</article>

<div class="center measure-wide f4 pv5 lh-copy ph2 content">
  <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  {{ content }}
</div>