---
layout: default
---

<article class="dt w-100 project-{{ page.color }} tc">
<div class="mw5 mw6-ns center pt3">
  {% include ad.html %}
</div>
  <div class="dtc v-mid tc white ph3 ph4-l pt6">
    <h1 class="f1 f-subheadline-l fw6 tc">Build a <span class="underline">{{ page.title }}</span></h1>
    <a href="{{ page.demourl }}"><img class="project-image" src="{{ page.img }}"></a><br><br>
    <a href="{{ page.source }}" class="f4 link dim ba ph3 pv2 mb2 dib white">Source</a>
    <a href="{{ page.demourl }}" class="f4 link dim ba ph3 pv2 mb2 dib white">Demo</a>
    <h3 class="f4 tc">By <u>{{ page.author }}</u></h3>
  </div>
</article>

<div class="center measure-wide f4 pv5 lh-copy ph2 content">
  <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  {{ content }}
</div>
<div class="w-50 center f4 pv5 lh-copy ph2 content bt">
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = 'https://enlight-2.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
